<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fiverr.ui"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="5"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/new_app_icon"
        android:label="@string/app_name"
        android:name="com.fiverr.application.PlayGroundHumer"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        <activity android:name="com.fiverr.ui.Splashscreen" 
             android:configChanges="orientation|keyboardHidden|screenSize"
            >
           <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.fiverr.ui.Dashboard" 
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name="com.fiverr.ui.Submit" 
            android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"></activity>
        <activity android:name="com.fiverr.ui.Quotes" 
            android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"></activity>
        <activity android:name="com.fiverr.ui.AllQuote" 
            android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">         
        </activity>
        <activity android:name="com.fiverr.ui.RegisterUser" 
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name="com.fiverr.ui.LoginAcivity" 
             android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name="com.fiverr.ui.KidProfile" 
            android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"></activity>
        <activity android:name="com.fiverr.ui.KidList" 
            android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"></activity>
        <activity android:name="com.fiverr.ui.FavQuotes" 
            android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"></activity>
        <activity android:name="com.fiverr.ui.EditKidProfile" 
            android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"></activity>
        <activity android:name="com.fiverr.ui.VideoPlayView" 
            android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"></activity>
         <activity android:name="com.fiverr.ui.ImageDetailScreen" 
            android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"></activity>
    </application>

</manifest>
